.slider-container {
  background-color: #f8fafd;
  height: 260px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;

  &::before,
  &::after {
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    content: "";
    height: 260px;
    position: absolute;
    width: 100px;
    z-index: 10;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  @keyframes myAnimation {
    100% {
      transform: translateX(0);
    }
    0% {
      transform: translateX(-1000px);
    }
  }
  .slider {
    animation: myAnimation 50s linear infinite;
    display: flex;
  }

  .slide {
    height: 200px;
    width: 250px;
  }
}
